* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

svg {
  width: 25px;
  height: 25px;
  fill: white;
}

body {
  background-color: #212121;
}

.header__box {
  width: 90%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 250px auto 250px;
}
.header__helpers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.header__helpers > span {
  margin-left: 10px;
  cursor: pointer;
}
.header__helpers .user__loginImage {
  display: flex;
  border-left: 1px solid rgba(98, 98, 98, 0.37);
  padding-left: 20px;
}
.header__helpers .user__loginImage img {
  width: 25px;
  height: 25px;
}

.basket__icon {
  display: flex;
  align-items: center;
  position: relative;
}
.basket__icon::before {
  position: absolute;
  content: ".";
  color: red;
  width: 30px;
  height: 30px;
  left: 10px;
  top: 15px;
}
.basket__icon .basket__counter {
  color: lightgray;
  font-size: 10px;
  margin-left: 2px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.header__logo img {
  width: 180px;
}
.header__logo .lang__btn {
  background-color: transparent;
  color: lightgray;
  border: none;
  margin-left: 10px;
  font-size: 11px;
  cursor: pointer;
}

.down__arrow {
  margin-left: 10px;
}
.down__arrow svg {
  width: 7px;
  height: 7px;
  fill: #fff !important;
}

.header__searchBox {
  flex-grow: 1;
}

.search__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(98, 98, 98, 0.37);
}

.form__searchBox {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.form__searchBox .searchBar {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 0 10px;
  outline: none;
  color: #fff;
}
.form__searchBox .searchBar::-moz-placeholder {
  color: lightgray;
}
.form__searchBox .searchBar::placeholder {
  color: lightgray;
}
.form__searchBox .submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.form__searchBox .submit path {
  fill: #fff;
}
.form__searchBox .submit svg {
  width: 20px;
  height: 20px;
}

.category__box {
  background-color: rgba(98, 98, 98, 0.37);
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100vh;
}

.main__box {
  width: 90%;
  margin: 2rem auto;
  gap: 20px;
  display: grid;
  grid-template-columns: 250px 1fr;
}
.main__box .left__box {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 250px;
}
.main__box .left__box__title {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.main__box .right__box {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}
.main__box .right__box .top__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 250px;
  gap: 20px;
}

.mySwiper {
  height: -moz-fit-content;
  height: fit-content;
}

.category__btn {
  background-image: linear-gradient(to right bottom, red, rgba(31, 31, 31, 0.692));
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.category__btn svg {
  width: 10px;
  height: 10px;
  fill: #fff !important;
}
.category__btn .category__btnTitle {
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
}

.slider__box {
  background-color: rgba(98, 98, 98, 0.37);
  border-radius: 15px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  grid-column: 1/10;
}

.banner__img {
  grid-column: 10/-1;
}
.banner__img img {
  width: 100%;
  height: 100%;
}

swiper-slide {
  font-size: 18px;
  display: flex;
  align-items: center;
}

swiper-slide img {
  transform: rotate(-10deg);
  width: 250px !important;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__info {
  margin-left: 5rem;
  color: lightgray;
}
.product__info .product__title {
  position: relative;
  left: 50px;
  font-size: 14px;
}
.product__info .product__title::before {
  content: "_____";
  height: 5px;
  color: lightgray;
  position: absolute;
  left: -50px;
  top: -5px;
}
.product__info .prodcut__category {
  font-size: 55px;
  margin: 10px 0;
}
.product__info .prodcut__desc {
  font-size: 14px;
}
.product__info .prodcut__desc b {
  color: #fff;
  font-size: 16px;
}

.product__img img {
  width: 100%;
  height: 100%;
}

.company__logos {
  display: flex;
  margin-top: 3rem;
}
.company__logos img {
  margin-right: 10px;
  transform: rotate(0);
  width: 60px !important;
  height: 15px !important;
}

.sideBar__menu {
  margin-bottom: 5rem;
}

.sideBar__item {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  list-style-type: none;
  color: lightgray;
  font-size: 14px;
  cursor: pointer;
}
.sideBar__item:hover {
  color: #fff;
}
.sideBar__item svg {
  margin-right: 10px;
  fill: #fff !important;
}

.setting {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid rgba(98, 98, 98, 0.37);
  margin-top: 6rem;
  align-items: self-start;
}
.setting .account__btn {
  display: block;
  background-color: transparent;
  color: #fff;
  border: none;
  margin-bottom: 1rem;
}
.setting .setting__btn {
  background-color: transparent;
  color: #fff;
  border: none;
}

.bottom__box {
  margin: 2rem 0;
  width: 100%;
}

.products__title__slider {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
}

.products__title {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}
.products__title span {
  font-weight: bold;
  font-size: 20px;
  margin-left: 2px;
}

.showAll__Link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-left: 1rem;
}

.multiItem__slider {
  width: 100%;
  overflow: hidden;
}

.mySwiper {
  color: lightgray;
}
.mySwiper .card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(98, 98, 98, 0.37);
  border-radius: 15px;
  position: relative;
}
.mySwiper .card__imageBox {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  background-color: rgba(98, 98, 98, 0.37);
  border-radius: 15px;
  overflow: hidden;
}
.mySwiper .card__imageBox img {
  width: inherit;
  height: auto;
}
.mySwiper .card__desc {
  line-height: 1.6;
  font-size: 13px;
  width: 100%;
}
.mySwiper .card__discount {
  color: #fff;
  background-color: rgba(98, 98, 98, 0.37);
  color: #fff;
  font-size: 11px;
  padding: 10px;
  position: absolute;
  top: 30px;
  border-radius: 5px;
  left: 20px;
}
.mySwiper .card .card__discount_temp {
  background-color: red;
  padding: 10px;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 20px;
}

.card__price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__colorButtons button {
  padding: 5px;
  border-radius: 50%;
  border: none;
}
.card__colorButtons button:first-child {
  background-color: pink;
}
.card__colorButtons button:last-child {
  background-color: gray;
}

@media only screen and (max-width: 950px) {
  .header__box {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .header__logo,
  .header__searchBox,
  .header__helpers {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 10px 0;
  }
  .basket__icon::before {
    left: -2px;
  }
  .slider__box, .banner__img {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 1311px) {
  .product__info {
    margin-left: 2rem !important;
  }
  .product__title {
    font-size: 11px !important;
  }
  .prodcut__category {
    font-size: 25px !important;
  }
  .prodcut__desc {
    font-size: 11px !important;
  }
  .card {
    width: 33% !important;
  }
}
@media only screen and (max-width: 1112px) {
  .card {
    width: 50% !important;
  }
}
@media only screen and (max-width: 850px) {
  .card {
    width: 100% !important;
  }
  .main__box {
    grid-template-columns: 1fr;
  }
  .setting {
    margin-top: unset;
  }
}
@media only screen and (max-width: 375px) {
  .category__title {
    font-size: xx-small;
  }
}/*# sourceMappingURL=styles.css.map */